/** Bookshop stylesheet **/

html, body {
    background: #364B66 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/** Blog header **/

#header {
    padding: 10px 0;
    position: relative;
}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#logo span {
    color: #f00;
    font-size: 70%;
}


/* footer */

#footer {
    border-top: 1px solid #45597A;
    font-size: 80%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/**Forms **/
form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 70%;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-bottom: 3px;
}

/** reviews**/

/** initially hide addreviewform**/
.addreviewform .reviewform{display:none;}
.addreviewform .hideaddreviewformlink{display:none;}

.reviewform{
    padding: 10px;
    background: #253142;
    background: -webkit-linear-gradient(top,#253142,#364B66);
    background: -moz-linear-gradient(top,#253142,#364B66);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.reviews {
    margin-bottom: 30px;
}

.review {
    width: 70%;
    clear: both;
}

.review .review-metadata {
    color: #869AB1;
    display: block;
    font-size: 50%;
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}

.review .review-author {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.review .review-content {
    position: relative;
    background: #E4EAFF;
    color: #242C58;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.review .review {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid #E4EAFF;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}


/** search **/
.boxed{
	font-weight: bold;
	border:solid 1px #45597A;
}

/** moved error class out of form **/
.error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

.errormsg {
    color: #c00;
    font-size: 90%;
    padding: 3px 5px;
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}