/** Bookshop stylesheet **/

html, body {
    background: #364B66 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/** Blog header **/

#header {
    padding: 10px 0;
    position: relative;
}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#logo span {
    color: #f00;
    font-size: 70%;
}


/* footer */

#footer {
    border-top: 1px solid #45597A;
    font-size: 80%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/**Forms **/
form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 70%;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-bottom: 3px;
}

/** reviews**/

/** initially hide addreviewform**/
.addreviewform .reviewform{display:none;}
.addreviewform .hideaddreviewformlink{display:none;}

.reviewform{
    padding: 10px;
    background: #253142;
    background: -webkit-linear-gradient(top,#253142,#364B66);
    background: -moz-linear-gradient(top,#253142,#364B66);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.reviews {
    margin-bottom: 30px;
}

.review {
    width: 70%;
    clear: both;
}

.review .review-metadata {
    color: #869AB1;
    display: block;
    font-size: 50%;
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}

.review .review-author {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.review .review-content {
    position: relative;
    background: #E4EAFF;
    color: #242C58;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.review .review {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid #E4EAFF;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}


/** search **/
.boxed{
	font-weight: bold;
	border:solid 1px #45597A;
}

/** moved error class out of form **/
.error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

/** shopping cart **/
.cartitems{
    padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}




/** order confirm page **/
/** initially hide paymentoptionsform in order confirm form **/
.paymentform .hidepaymentformlink{ display:none;}
.paymentform .paymentoptionsform{ display:none;}
.paymentform .paymentpagelink{ display:none;}

.confirmordersubmit{
	float:right;
	padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}


/** thankyou **/
.thankyoubody{
	padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.delete input {
	color: white;
	border: none;
	margin: 0;
	
	top: 0;
	right: 0;
	background: #C00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
}


/** common    **/
.right{
	align:right;
}

.center{
	text-align: center;
}
.errormsg {
    color: #c00;
    font-size: 90%;
    padding: 3px 5px;
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}


/** Admin **/
.tags-list .tag {
    cursor: pointer;
    color: red;
}

#adminMenu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#adminMenu li {
    display: inline;
}

#adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    background: #591C64;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#adminMenu li.selected a {
    background: #82A346;
}

.orderdetails{
	padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.sidebox{
	float:right;
	padding: 10px;
    background: #253142;
    
}

.vertgradient{
	background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
	background: -moz-linear-gradient( top, #253142 0%, #364B66 100%);
}

.rounded{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}