/** Bookshop stylesheet **/

html, body {
    background: #364B66 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/** Blog header **/

#header {
    padding: 10px 0;
    position: relative;
}

#logo {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#logo span {
    color: #f00;
    font-size: 70%;
}


/* footer */

#footer {
    border-top: 1px solid #45597A;
    font-size: 80%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/**Forms **/
form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 70%;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-bottom: 3px;
}

/** reviews**/

/** initially hide addreviewform**/
.addreviewform .reviewform{display:none;}
.addreviewform .hideaddreviewformlink{display:none;}

.reviewform{
    padding: 10px;
    background: #253142;
    background: -webkit-linear-gradient(top,#253142,#364B66);
    background: -moz-linear-gradient(top,#253142,#364B66);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
