#{extends 'main.html' /}
#{set title:'search results' /}
#{if book}
	
	
	#{showbook book:book,as: 'full' /}
#{/if}

#{if books &&  books.size()>0}
<p>
	<span class="boxed">The following books contain '${trimmedKeyword}' in title or description</span>
</p>
	#{list items:books, as:'abook'}
		
		#{showbook book:abook, as:'concise' /}
		
		<br/>
	#{/list}
#{/if}

#{else}
	<div class="empty">
	<p>
         <span class="boxed">could not find  books  with name containing '${trimmedKeyword}' here</span>
    </p>
    </div>
#{/else}
<div id="footer">
	<a href="@{Application.index()}" > Home </a>
</div>