<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" ></script>
        <script src="@{'/public/javascripts/jquery.tools.min.js'}" ></script>
    </head>
    
    <body id="admin">
    <div id="header">
    	<div id="logo">
    		 ${shopLogoText}  <span>administration</span>
    	</div>
    	
    	<div id="adminlogout" class="auth">
    		#{if session.loggedinuser}
    		
    			<a href="@{Secure.logout()}">Log out</a>
    		
    		#{/if}
    	</div>
     </div>
    	
    	<div id="main">
    		#{loginStatus /}
    		<ul id="adminMenu">
    			#{secure.check 'admin'}
    				<li class="${request.controller == 'Books' ? 'selected' : ''}">
    					<a href="@{Books.list()}">Books</a>
    				</li>
    				
    				<li class="${request.controller == 'Authors' ? 'selected' : ''}">
    					<a href="@{Authors.list()}">Authors</a>
    				</li>
    				
    				<li class="${request.controller == 'Publishers' ? 'selected' : ''}">
    					<a href="@{Publishers.list()}">Publishers</a>
    				</li>
    				
    				<li class="${request.controller == 'BookShopUsers' ? 'selected' : ''}">
                		<a href="@{BookShopUsers.list()}">BookShopUsers</a>
            		</li>
            		
            		<li class="${request.controller == 'Categories' ? 'selected' : ''}">
                		<a href="@{Categories.list()}">Categories</a>
            		</li>
            		
            		<li class="${request.controller == 'Reviews' ? 'selected' : ''}">
                		<a href="@{Reviews.list()}">Reviews</a>
                	</li>
            		<li class="${request.controller == 'Admin' ? 'selected' : ''}">
                		<a href="@{Admin.customerOrders()}">BookOrders</a>
            		</li>
            		<li >
            			<a href="#">BookSalesData</a>
            		</li>
    			#{/secure.check}
    				
    			
    		</ul>
    		#{doLayout /} 
    	</div>
    	
    </body>
    
</html>